# Specify filepatterns you want git to ignore.

# Remove following if I want to release the media extracted from the game
nitrofs
*.png
*.gmx

# Exclude media (copyrighted? it's in the demo so far) material
nitrofs/bg
nitrofs/spr
nitrofs/data/cutscenes
nitrofs/data/rooms
nitrofs/fnt
nitrofs/stamp_file.txt
*.aseprite
_*
*.ase

# Exclude misc internal
.idea
build
.vscode
cmake*
CMake*
*.nds
*.elf
notes.txt
*.pyc
*.win
*.zip
*.rar
*.patch
_test*

tsukuyomi_v01
