# Specify filepatterns you want git to ignore.

# Exclude copyrighted material
nitrofs
*.cspr
*.cbgf
*.cfnt
*.gmx
*.png

# Exclude misc internal
.idea
build
.vscode
cmake*
CMake*
*.nds
*.elf
notes.txt
*.pyc