# Specify filepatterns you want git to ignore.

# Exclude copyrighted material
nitrofs
*.cspr
*.cbgf
*.cfnt
*.gmx
*.png
*.aseprite
*.ase

# Exclude misc internal
.idea
build
.vscode
cmake*
CMake*
*.nds
*.elf
notes.txt
*.pyc
*.win
*.zip
*.aes
_test*

tsukuyomi_v01
